<html><head>
    <meta charset="utf-8">
    <title>两列左侧自适应布局</title>
    <link href="../css/reset.css" type="text/css" rel="stylesheet">
    <link href="../css/function.css" type="text/css" rel="stylesheet">

    <style type="text/css">html{_overflow-y:scroll;}/* 两列左侧自适应布局 */
    .g-bd2{margin:0 0 10px;}
    .g-sd2{position:relative;float:right;width:230px;}
    .g-mn2{float:left;width:100%;margin-right:-230px;}
    .g-mn2c{margin-right:240px;}
        /* 预览辅助样式 */
    body{margin:10px;}
    p{height:150px;padding:10px;color:#fff;background:#e671bb;}
    .g-sd2 p{background:#1ba1e2;}</style></head>
<body>
<div id="scroller"><div class="g-bd2 f-cb">
    <div class="g-mn2">
        <div class="g-mn2c">
            <p>左侧自适应</p>
        </div>
    </div>
    <div class="g-sd2">
        <p>右侧定宽</p>
    </div>
</div>
</div>
</body></html>