/* Global CSS */
body {text-align:center;font-family:宋体,serif;background:#ffffff;font-size:12px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
table{ margin:0 auto;}
img{vertical-align:top;border:none;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:12px; font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0;}
address,caption,cite,code,dfn,em,th,var {font-weight:normal; font-style:normal;}
/* link color font */
a {color:#2b2b2b;text-decoration:none;}
a:visited {color:#83006f;text-decoration:none;}
a:hover {color:#BA2636;text-decoration:underline;}
a:active {color:#BA2636;}
.cGg,.cGg a,.cGg:visited {color:#7B7C7D;}
.c2b,.c2b a,.c2b:visited {color:#2b2b2b;}
.cPurple,.cPurple a,.cPurple:visited {color:#4A488E;}
.cWhite,.cWhite:visited,.cWhite a{color:#fff;}
.cYellow,.cYellow:visited{color:#ff0;}
.cGreen,.cGreen:visited{color:#008000;}
.cGray,.cGray:visited,.cGray a{color:#9F9E9E;}
.cDGray,.cDGray:visited,.cDGray a{color:#727171;}
.cBlack,.cBlack:visited,.cBlack a{color:#000;}
.cBlue,.cBlue:visited,.cBlue a{color:#1E50A2;}
.cRed,.cRed:visited,.cRed a{color:Red;}
.cDRed,.cDRed:visited,.cDRed a{color:#BA2636;}
.cGg a:hover,a.cGg:hover,.cRed a:hover,a.cRed:hover,.cBlue a:hover,a.cBlue:hover,.cDRed a:hover,a.cDRed:hover,.cGray a:hover,a.cGray:hover,.cDGray a:hover,a.cDGray:hover,.cWhite a:hover,a.cWhite:hover,.cBlack a:hover,a.cBlack:hover,.cGreen a:hover,a.cGreen:hover,.cYellow a:hover,a.cYellow:hover,.c2b a:hover,a.c2b:hover,.cPurple a:hover,a.cPurple:hover{color:#BA2636;}
.fB{font-weight:bold;}
.fI{font-style: italic;}
.f12px{font-size:12px;}
.f14px{font-size:14px;}
.left{float:left;}
.right{float:right;}
.hidden{display:none;}
.unLine,.unLine a{text-decoration:none;}
.pic_Border{ border:1px solid #ddd;}
.noBorder{border:none;}
.pointer{ cursor:pointer;}
.tIndent{text-indent:2em;}
/* icon */
.I_V_ {background:url(http://img3.cache.netease.com/img09/icon/i_v.png) left center no-repeat; padding-left:18px;}
/* foot */
.foot{margin:0 auto; width:960px;line-height:21px; clear:both;color:#BEADC4; text-align:center;}
.foot .text{padding:4px 0 3px; margin:0 auto;}
.foot a,.foot a:visited{color:#BEADC4;}
/* span blank */
.clear {clear:both; height:0; overflow:hidden; display:block;}
.clearfix:after {clear:both; height:0; overflow:hidden; display:block; visibility:hidden; content:"."; }
.blankW {background:#fff;}
.blank2 {clear:both; height:2px; overflow:hidden; display:block; font-size:1px;}
.blank3 {clear:both; height:3px; overflow:hidden; display:block; font-size:1px;}
.blank6 {clear:both; height:6px; overflow:hidden; display:block; font-size:1px;}
.blank9 {clear:both; height:9px; overflow:hidden; display:block; font-size:1px;}
.blank9w {background:#ffffff; clear:both; height:9px; overflow:hidden; display:block; font-size:1px;}
.blank12 {clear:both; height:12px; overflow:hidden; display:block;}
.blank15 {clear:both; height:15px; overflow:hidden; display:block;}
.blank20 {clear:both; height:20px; overflow:hidden; display:block;}
/* 全局切换样式 */
.tab .normal {display:none;}
.tab .on {display:block;}
/* 王牌栏目 */
.wplm { width:299px; clear:both; overflow:hidden; text-align:left;}
.wplm .wplm_tab { float:left; width:79px; height:214px;background:url(http://img1.cache.netease.com/lady/img12/sy0322/bg_y.gif) 78px 0 repeat-y;}
.wplm .wplm_tab ul { padding-top:9px;}
.wplm .wplm_tab li { clear:both; height:23px; line-height:25px; padding-left:8px; color:#727171; cursor:pointer;border-bottom:1px solid #fff;border-top:1px solid #fff;border-right:1px solid #ddd; overflow:hidden;}
.wplm .wplm_tab li a,.wplm .wplm_tab li a:visited {color:#727171; text-decoration:none;}
.wplm .wplm_tab li.on { color:#2B2B2B; border-bottom:1px solid #ddd;border-top:1px solid #ddd;border-right:1px solid #fff;}
.wplm .wplm_tab li.on a,.wplm .wplm_tab li.on a:visited {color:#2B2B2B;}
.wplm .wplm_tab li a:hover {color:#BA2636;}
.wplm .wplm_pic { float:right; width:210px; padding-top:14px;}
.wplm .wplm_pic h3 { width:210px; height:24px; background:#696969; text-indent:9px; text-align:left; overflow:hidden; line-height:27px; color:#fff;}
.wplm .wplm_pic h3 a,.wplm .wplm_pic h3 a:visited { color:#fff;}
.wplm .wplm_pic h3 a:hover {color:#BA2636;}


/* theme blue */
.mod .hd, .wgt-yodao-search .ui-btn-submit, .weather-location, .search-category-more, .yodao-search-category .current, .search-category-item a:hover, .yodao-dialog .ui-btn-submit, .yodao-dialog-close, .mod .hd, .tab-hd, .mod-function, .function-close, .product-list li { background:url("http://img1.cache.netease.com/www/v2011/img/theme_blue.png") no-repeat; } /* mod color */
.jstxlan, .c-entry, a.c-entry:visited, .c-entry a, .c-entry a:visited, .hd, .hd a, .hd a:visited, .tab-hd, .tab-hd a, .tab-hd a:visited, .search-category-item a { color:#1E50A2; }
a.c-entry:hover, .c-entry a:hover, .hd a:hover, .jstxlan:hover { color:#ba2636; }
.mod .bd, .mod .hd, .mod-function, .aboutNetease, .ntes-yodao { border:1px solid #B1C8D7; }
.mod .bd { border-top:none; }
.tab-hd { border-left:1px solid #B1C8D7; }
.tab-hd .tab-u { border-top:1px solid #B1C8D7; border-right:1px solid #B1C8D7; }
.area-sub .bd, .tab-u-5 .current, .product-tab .current, .aboutNetease { background-color:#F5F8FC; }
.mod .hd, .tab-hd, .mod-function, .tab-hd-gg-left li, .tab-hd-gg-right li { background-color:#E6EEF7; }
.tab-hd-gg-left .current, .tab-hd-gg-right .current { background-color:#D4E6F5; } /* yodao color */
.ntes-yodao { background:url("http://img6.cache.netease.com/www/v2012/img/yodao_bg_pure_blue.jpg") left top no-repeat #D4E6F5; }
.wgt-yodao-search .ui-btn-submit { color:#000; background-color:#f5f5f5; }
.yodao-search-category .current, .search-category-item a:hover { font-weight:bold; color:#fff; }
.search-category-item a:hover { color:#fff; }
.yodao-dialog { border:1px solid #B1C8D7; background:#fff; }
.yodao-dialog .hd { background:#D4E6F5; }
.yodao-dialog .bd { background:#E6EEF7; }
.category-more-list { border:1px solid #B1C8D7; background:#fff; }
.category-more-list a:hover { color:#fff; background:#1E50A2; }
.aa_highlight { color:#fff; background:#1E50A2; }
.yodao-gg-pic{float:left;padding:1px 0 0 1px;}
.gg-flipover {left: 1px;position: absolute;top: 1px;}
.yodao-gg-logo{float:right;width:130px;padding-top: 10px;position:relative; }
.yodao-gg-date {position: absolute;padding-top: 15px;width: 100px;left:65px;}
.weather-area{left: 38px;position: absolute;top: 35px;width:125px;text-align:right; }
.weather-area-ad{left: 70px;position: absolute;top: 35px;width:125px;text-align:right; }
.yodao-entry-gg-left{padding:5px 0 6px 0;}
.yodao-entry-gg-right{padding-top:11px;padding-left:5px;}
.yodao-search-logo{background:url(http://img6.cache.netease.com/www/v2012/img/yodao-search-logo.png) no-repeat 0 0 transparent;height: 20px;position: absolute;right: 308px;top: 32px;width: 38px;}
/*有道*/
html {overflow-y:scroll;}
body {margin:0; padding:29px 0 0; font:12px "\5B8B\4F53",sans-serif;background:#ffffff;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}
h1,h2,h3,h4,h5,h6 {font-size:12px; font-weight:normal;}
address,cite,code,em,th {font-weight:normal; font-style:normal;}
.ntes-passport a {color:#727171;}
.ntes-passport a:hover {color:#ba2636;}
.fB{font-weight:bold;}
.f12px{font-size:12px;}
.f14px{font-size:14px;}
.left{float:left;}
.right{float:right;}
.I_V_ {background:url(http://img1.cache.netease.com/img09/icon/icon.png) left center no-repeat; padding-left:18px;}
.I_M_ {background:url(http://img1.cache.netease.com/img09/icon/icon.png) -457px center no-repeat; padding-left:18px;}
.I_cleardot_ {background:#fff; padding:0 0 0 10px; margin:0 6px 0 -10px; float:left; vertical-align:middle; cursor:pointer;}
.I_cleardot_:hover {text-decoration:underline;}
.sup_n{position:relative;}
.sup_n sup{position:absolute;top:-5px;width:21px;height:11px;margin-left:-3px;text-indent:-100em;overflow:hidden;background:url('http://img1.cache.netease.com/www/v2011/img/icon_sup_new.png') no-repeat left top;}
.foot{margin:0 auto; width:960px; line-height:21px; clear:both; color:#4d4d4d;}
.foot .text{padding:4px 0 5px; border-bottom:1px solid #4d4d4d; margin:0 0 5px;}
.foot a,.foot a:visited{color:#4d4d4d;}
.foot a:hover {color:#ba2636;}
/* ntes grid u */
.grid-u-5,.grid-u-9,.grid-u-10,.grid-u-19 {float:left;_display:inline;}
.grid-u-5,.area-sub {float:left; width:200px; _display:inline;}
.grid-u-19,.area-main {float:right; width:760px;}
.grid-u-9,.main-col-9 {float:left; width:360px;}
.grid-u-10,.main-col-10 {float:left; width:400px;}
.clearfix,.area,.header,.footer,.content,.area-sub,.area-main,.main-col-10,.main-col-9,.tab-con {*zoom:1;}
.clearfix:after,.area:after,.header:after,.footer:after,.content:after,.area-sub:after,.area-main:after,.main-col-10:after,.main-col-9:after,.tab-con:after {display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:".";}
.header,.content,.footer {clear:both; width:960px; margin:0 auto;}
.header,.footer {margin-bottom:10px;}
.main-col-10 .mod,.area-sub .mod {margin-right:10px;}
/* link css */
a {color:#2b2b2b; text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {color:#ba2636;text-decoration:underline;}
a:active {color:#ba2636;}
.sub-list a,.sub-list a:visited {color:#585858;}
.cDGray,.cDGray:visited,.cDGray a{color:#727171;}
.cDGray-temp,.cDGray-temp:visited,.cDGray-temp a{color:#d7d7d7;}
.cBlue,.cBlue:visited,.cBlue a{color:#1E50A2;}
.cDRed,.cDRed:visited,.cDRed a{color:#ba2636;}
.cRed {color:#f00;}
.tab-u a:hover,.cRed a:hover,a.cRed:hover,.sub-list a:hover,.cBlue a:hover,a.cBlue:hover,.cDRed a:hover,a.cDRed:hover,.cGray a:hover,a.cGray:hover,.cDGray a:hover,a.cDGray:hover,.cDGray-temp a:hover,a.cDGray-temp:hover,.cWhite a:hover,a.cWhite:hover,.cBlack a:hover,a.cBlack:hover,.cGreen a:hover,a.cGreen:hover,.cYellow a:hover,a.cYellow:hover{color:#ba2636;}
/* templet */
.imgText-temp-1 {overflow:hidden; padding-left:132px; margin-bottom:3px;}
.imgText-temp-1 .main-img {position:absolute; _display:inline; margin-left:-132px;}
.imgText-temp-1 .main-list {float:left;}
.imgText-temp-2 {overflow:hidden; padding:0 0 10px 80px;}
.imgText-temp-2 .imgText-img {float:left; _display:inline; margin-left:-80px; border:1px solid #dcdddd;}
.imgText-temp-2 .imgText-titleTop {margin:6px 0 3px -80px; line-height:21px; font-weight:bold;}
.imgText-temp-2 .sub-list {float:left;}
.imgText-temp-3 {overflow:hidden; padding-left:132px; margin-bottom:15px;}
.imgText-temp-3 .main-img {float:left; _display:inline; margin-left:-132px;}
.imgText-temp-3 .main-list {float:left;}
.imgText-temp-4 { overflow:hidden; padding:0 0 6px 80px; }
.imgText-temp-4 .imgText-img { float:left; _display:inline; margin-left:-80px; border:1px solid #dcdddd; }
.imgText-temp-4 .imgText-titleTop { margin:6px 0 3px -80px; line-height:21px; font-weight:bold; }
.imgText-temp-4 .sub-list { float:left; }
.temp-1-2 {margin-top:6px;}
.temp-1-2 .temp-u {_display:inline; width:180px;}
/* ntes modules mod */
.user-logined,.login-name,.logined-begin,.logined-after,.main-list li,.specialTopic-list li,.sub-list li,.stock-search .ui-btn-submit,.i-setIndex,.i-help,.i-rss,.ui-select-box,.ui-btn-login,.ntes-passport,.product-item-mail .icon,.product-item-game .icon,.product-item-serv .icon,.product-item-reco .icon,.theme-blue,.theme-gray,.theme-green,.theme-pink,.theme-yellow {background:url("http://img1.cache.netease.com/www/v2011/img/iconv0.0.9.png") no-repeat;}
.mod .hd,.mod-function {background-position:left -30px;}
.mod {margin-bottom:10px;}
.mod .hd {height:24px; line-height:24px;}
.mod .bd {overflow:hidden;padding: 12px 8px 0 10px;}
.mod-title {float:left; font-weight:bold; text-indent:10px;}
.mod-entry {float:right; padding-right:6px;}
.area-main .bd {padding:12px 8px 0 10px;}
.area-sub .bd {padding:12px 9px 0;}
.main-title {height:22px; line-height:25px; margin-bottom:3px; overflow:hidden; font-size:14px; font-weight:bold;}
.main-title em{font-weight:bold;}
.main-subtitle {height:19px; overflow:hidden; font-weight:bold; font-size:14px; line-height:19px;}
.mod-list {margin-bottom:4px; width:100%;}
.mod-list li {overflow:hidden; clear:both;}
.mod-list .dotline {margin-bottom:4px; padding-bottom:4px;}
.main-list li,.specialTopic-list li {padding-left:12px; height:25px; font-size:14px; line-height:25px;}
.main-list li {background-position:-124px -80px;}
.specialTopic-list li {background-position:-123px -112px;}
.sub-list li {padding-left:12px; height:21px; line-height:21px; background-position:-124px -82px;}
.sub-list .title {background:none; padding-left:0; font-weight:bold;}
.trends-list li {height:21px; line-height:21px;}
.mod-img img {clear:both;}
.mod-img p {margin:1px 0 0; line-height:19px;}
.mod-img cite {clear:both; float:left; width:100%; height:14px; overflow:hidden; margin-top:9px; cursor:pointer;}
.main-img {overflow:hidden; width:122px;}
.main-img img { border:1px solid #dcdddd;}
.main-img .stock-img {border:none;}
.sub-img {overflow:hidden; width:170px; margin-bottom:9px;}
.mod-imgText {clear:both; margin:0 0 4px; line-height:0; zoom:1;}
.imgText-img {float:left; line-height:1em;}
.imgText-title {line-height:1.5; font-weight:bold;}
.imgText-digest {margin:3px 0 0;line-height:21px;text-indent:2em;}
.mod-imgList {float:left; _display:inline;}
.mod-imgList li {float:left; overflow:hidden; _display:inline;}
.mod-imgList img {border:1px solid #dcdddd;}
.mod-imgList p {line-height:19px; margin-top:4px;}
.imgList-w80 {margin:0 0 4px -14px;}
.imgList-w80 li {margin:0 0 13px 15px; width:80px; height:103px;}
.imgList-w80 img {border:none;}
.imgList-w80_1 {margin:9px 0 4px -14px;}
.imgList-w80_1 li {margin:0 0 5px 15px; width:80px; height:103px;}
.imgList-w80_1 img {border:none;}
.imgList-w90 {margin:0 0 4px -27px;}
.imgList-w90 li {margin:0 0 4px 29px; width:92px; height:115px;}
.imgList-w120 {margin-left:-2px;}
.imgList-w120 li {margin:0 0 13px 2px; width:122px; height:115px;}
.imgList-w120-2 {margin-left:-2px;}
.imgList-w120-2 p {margin-top:0;}
.imgList-w120-2 li {margin:0 0 0 2px; width:122px; height:115px;}
.imgList-w160 {margin-left:-16px;}
.imgList-w160 li {margin:0 0 4px 16px; width:162px; height:115px;}
.imgList-w160-2 {margin-left:-16px; margin-bottom:5px;}
.imgList-w160-2 li {margin:0 0 4px 16px; width:162px; height:123px;}
.imgList-w160-3 {margin-left:-16px; margin-bottom:5px;}
.imgList-w160-3 li {margin:0 0 4px 16px; width:162px; height:92px;}
.mod-keyword {clear:both;}
.keyword-hd {margin-bottom:3px; line-height:21px;}
.keyword-bd {float:left; _display:inline; margin-left:-25px; line-height:23px;}
.keyword-bd a {float:left; _display:inline; white-space:nowrap; margin-left:25px; font-size:14px;}
.custom-mod-hd {height:26px; line-height:26px;}
.custom-title {float:left;}
.custom-entry {float:right;}
.specialTopic {margin-top:4px;}
.specialTopic-hd {margin-bottom:6px;}
.specialTopic-title {height:20px; overflow:hidden; padding-top:5px;}
.product-mod {margin-bottom:10px;}
.product-mod .bd {padding:0;}
.trends-mod .bd {padding:5px 9px;}
.mod-function {height:19px; overflow:hidden; margin-bottom:6px; line-height:20px;}
.function-date {float:left; _display:inline; margin:0 0 0 6px;}
.function-close,.function-info {float:right;}
.function-close {cursor:pointer; _display:inline; width:47px; height:17px; line-height:17px; overflow:hidden;  visibility:hidden; text-indent:12px; margin:1px 1px 0 6px; background-position:-101px 0;}
/* ntes widget wgt */
.wgt-tab {clear:both;}
.tab-u {float:left; text-align:center; cursor:pointer; font-family:'Verdana,\5B8B\4F53',sans-serif;}
.tab-hd {overflow:hidden; height:26px; line-height:25px; background-position:right -29px;}
.tab-hd .current{font-weight:bold;}
.tab-u-10 .tab-u {width:96px; font-size:14px;}
.tab-u-10 .current {width:97px; background:#fff;}
.tab-u-5 .tab-u {width:46px;}
.tab-u-5 .current {width:47px;}
.tab-u-9 .tab-u {width:89px; font-size:14px;}
.tab-u-9 .current {width:88px; background:#fff;}
.tab-u-11 { background: none; border-left: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; overflow: visible; }
.tab-u-11 .tab-u-vedio {border-right: 1px solid #B1C8D7;border-top: 1px solid #B1C8D7;}
.tab-u-11 .tab-u-vedio { cursor: pointer; float: left; font-family: Verdana,\5B8B\4F53,sans-serif; text-align: center; }
.tab-u-11 .tab-u-vedio {width:83px; font-size:14px; border-top: 1px solid #dcdcdc; border-right: 1px solid #dcdcdc; font-weight: normal; position: relative; top: 1px; }
#vedio .tab-con-vedio { display: none; }
#vedio .current { display: block; }
.tab-u-11 .current {width:83px; background:#fff; font-weight: bold; }
#vedio .tab-u-11-bd { padding-top: 0; }
.product-tab .tab-u {width:93px;}
.product-tab .current {width:94px;}
.stock-search {clear:both; width:100%; height:19px;}
.stock-search label {position:absolute; left:0; top:0; color:#999; line-height:19px; text-indent:3px;}
.stock-search-input {float:left; height:17px; width:100px; padding-right:20px;}
.stock-search .ui-btn-submit {float:left; width:16px; height:13px; margin:3px 0 0 -19px; text-indent:-100em; overflow:hidden; background-position:-46px -190px;}
/* common */
.main-title .I_V_ {font-weight:bold;}
.imgText-title .I_V_ {font-weight:bold;}
.entry {line-height:21px;}
.entry a {height:21px; overflow:hidden;}
.display-control .tab-con {display:none;}
.display-control .current {display:block;}
.dotline {border-bottom:1px dotted #dcdddd;}
.new {text-decoration:underline;}
.attitude {float:left; padding-right:63px; background:url("http://img1.cache.netease.com/www/v2011/img/attr.png") no-repeat scroll right 1px transparent;}
.gg,.gg_reset {background:#E6F4FF;}
.gg {margin-bottom:10px;}
.mb-6 {margin-bottom:6px;}
.mb-12 {margin-bottom:12px;}
.blank3 {clear:both; height:3px; overflow:hidden; display:block;}
.blank6 {clear:both; height:6px; overflow:hidden; display:block;}
.blank11 {clear:both; height:11px; overflow:hidden; display:block;}
.code-en {font:13px "Verdana","\5B8B\4F53";}
.code-num {font-family:"Arial","\5B8B\4F53";}
.area-sub .gg {width:190px;}
.main-col-9 .gg {width:360px;}
.main-col-10 .gg {width:390px;}
.gg-h65 {height:65px;}
.gg-h72 {height:72px;}
.gg-h180 {height:180px;}
.gg-h100 {height:100px;}
.gg-h300 {height:300px;}
.gg-h290 {height:290px;}
.gg-h65,.gg-h100,.gg-h180,.gg-h290,.gg-h300 {overflow:hidden; clear:both;}
.ggw600h80 {width:600px; height:80px; overflow:hidden;}
.ggw600h90 {width:600px; height:90px; overflow:hidden;}
.area-main ul.dotline {padding-bottom:4px;}
.area-sub ul.dotline {padding-bottom:4px;}
.main-bn-blog {margin-bottom:18px;}
/* ntes snippet */
h1 {display:none;}
.logo,.channel-col,.channel-col a,.channel-col .w3,.channel-col strong {float:left;}
.logo {_display:inline; margin: 19px 7px 0 16px;}
.channel {float:right; height:80px; overflow:hidden;}
.channel-col {_display:inline; margin:10px 0 0 -1px; padding:0 0 0 16px; line-height:20px; border-left:1px solid #dcdddd;}
.channel-col a {margin:0 6px 0 0; width:24px;}
.channel-col .w3 {margin:0 6px 0 0; width:36px;}
.channel-col strong { margin-right:6px;}
.channel-col strong a {width:26px;}
.col-w .nowrap {float:left; width:138px;}
.col .nowrap {float:left; width:108px;}
.col-w3 .nowrap {float:left; width:120px;}
/* ntes snippet passport */
.ui-pos-rel {position:relative; z-index:1;}
.ui-pos-abs {position:absolute; display:none;}
.ui-pos-active {visibility:visible;}
.ui-ipt-enter[data-state="disable"] {background:#fbfbfb; border:1px solid #e3e3e3;}
.ui-ipt-enter[data-state="error"] {background:#FFFCF0; border:1px solid #e3e3e3;}
.ui-ipt-enter {border-style:solid; border-width:1px; border-color:#BABABA #E3E3E3 #E3E3E3 #BABABA; font-family:Verdana,\5B8B\4F53,sans-serif; color:#2b2b2b; background:#fff;}
.ui-btn-submit {padding:0; border:none; cursor:pointer;}
.ui-btn-submit[data-state="disable"] {border:1px solid #ccc; color:#727171; cursor:default; background:#f3f3f3;}
.ntes-passport {position:absolute; left:0; top:0; z-index:2; clear:both; width:100%; min-width:960px; height:29px; color:#727171; background-position:left bottom; background-repeat:repeat-x;}
.passport-main {width:960px; height:29px; margin:0 auto;}
.passport-login {float:left;}
.login-info {line-height:29px;}
.passport-login .label {overflow:hidden; float:left; margin:4px 0 0; height:20px; padding:2px 0 0; line-height:16px;}
.passport-entry {float:right; line-height:29px;}
.i-setIndex {padding:2px 0 0 15px; cursor:pointer; background-position:-117px -28px;}
.i-help {padding:2px 0 0 20px; background-position:-113px 3px;}
.i-rss {float:right; margin:7px 0 0 6px; width:23px; height:13px; overflow:hidden; text-indent:-100em; background-position:left -90px;}
.login-entry {line-height:29px; margin-left:6px;}
.wbLogin-ui-btn {float:left; margin-top:5px;}
.wbLogin-ui-btn a,.wbLogin-ui-btn a:hover,.wbLogin-ui-btn a:visited,.wbLogin-after-entry,.wbLogin-after-entry:hover,.wbLogin-after-entry:visited {text-decoration:none; color:#f6f6f6;}
.wbLogin-btn-inline {display:block; overflow:hidden; width:51px; height:14px; line-height:10px; padding:4px 0 0 20px; color:#f6f6f6; background:url("http://img2.cache.netease.com/www/v2011/img/wb_bg_v2.png") left top no-repeat;}
.wbLogin-after {float:left; height:18px; line-height:18px; margin-top:5px; padding-right:4px;}
.wbLogin-after .wbLogin-ui-btn {margin-top:0;}
.wbLogin-after-con {margin-right:6px;}
.wbLogin-after-icon {display:inline-block; padding-left:18px; height:18px; background:url("http://img2.cache.netease.com/www/v2011/img/wb_bg_v2.png") -58px -18px no-repeat;}
.wbLogin-after-entry {float:left; overflow:hidden; width:57px; height:18px; line-height:10px; padding:4px 0 0; text-align:center; background:url("http://img2.cache.netease.com/www/v2011/img/wb_bg_v2.png") left -18px no-repeat;}
.ui-select {float:left;}
.form-ipt {float:left; _display:inline; overflow:hidden; margin:5px 5px 0; font-size:12px;}
.form-ipt input {float:left; overflow:hidden; font-size:12px; height:16px; line-height:16px;}
.form-ipt-user,.form-ipt-pwd {width:100px;}
.ui-btn-login {_display:inline; float:left; width:39px; height:18px; margin:5px 6px 0 6px; font-size:12px; color:#727171; cursor:pointer; border:none; background-position:-5px -190px;}
.ui-select-box {position:relative; z-index:1; width:79px; height:18px; margin:5px 0 0 0; line-height:18px; text-align:left; background-position:left -150px;}
.ui-select-selected {display:block; overflow:hidden; width:79px; height:18px; text-indent:3px; cursor:pointer;}
.ui-select-list {display:none; width:112px; position:absolute; top:17px; left:0; border:1px solid #b4b4b4; cursor:pointer; background:#fff;}
.ui-select-list li {margin:1px; text-indent:5px; line-height:21px; color:#4b4b4b;}
.ui-select-list .disable {color:#ccc; cursor:default;}
.ui-select-list .interval {border-bottom:1px solid #c4c4c4;}
.ui-select-list a {clear:both; display:block; width:110px; height:18px; text-indent:2px; cursor:pointer; background:#fff; color:#2b2b2b;}
.ui-select-list a:visited {color:#2b2b2b;}
.ui-select-list a:hover {text-decoration:none; color:#fff; background:#85B6EA;}
.product-item-mail,.product-item-game,.product-item-serv,.product-item-reco {clear:both; padding:7px 0 7px 45px;}
.product-item-mail strong,.product-item-game strong,.product-item-serv strong,.product-item-reco strong {float:left; _display:inline; width:40px; height:100%; margin-left:-45px; overflow:hidden;}
.product-item-mail a,.product-item-game a,.product-item-serv a,.product-item-reco a {float:left; width:70px; overflow:hidden; line-height:19px;}
.product-item-mail .icon,.product-item-game .icon,.product-item-serv .icon,.product-item-reco .icon {width:30px;}
.product-item-mail .icon {margin:1px 0 0 9px; padding-top:18px; background-position:1px 2px;}
.product-item-game .icon {margin:20px 0 0 8px; padding-top:21px; background-position:left -50px;}
.product-item-serv .icon {margin:0 0 0 7px; padding-top:24px; background-position:-28px top;}
.product-item-reco .icon {margin:10px 0 0 7px; padding-top:20px; background-position:-27px -50px;}
.product-item-game,.product-item-reco {background:#fff;}
.product-item-serv {height:45px; overflow:hidden; padding-bottom:0;}
.product-item-reco { overflow:hidden;}
.product-list li {float:left; width:100%; height:27px; line-height:27px; overflow:hidden; background-position:-202px -2px; }
.item-mail,.item-microBlog,.item-blog,.item-bbs,.item-photo,.item-money,.item-tie,.item-wan,.item-book,.item-yuehui,.item-caipiao
{display:block; clear:both; float:left; padding-left:30px; height:28px; line-height:28px; background:url("http://img1.cache.netease.com/www/v2011/img/icon_product_listv0.0.3.png") left top no-repeat;}
.item-mail {background-position:6px 8px;}
.item-microBlog {background-position:6px -19px;}
.item-blog {background-position:6px -47px;}
.item-bbs {background-position:6px -303px;}
.item-photo {background-position:6px -74px;}
.item-money {background-position:6px -103px;}
.item-tie {background-position:4px -132px;}
.item-wan {background-position:4px -160px;}
.item-book {background-position:4px -186px;}
.item-yuehui {background-position:4px -215px;}
.item-caipiao {background-position:4px -243px;}
.product-entry {_display:inline; clear:both; float:right; margin-right:6px; height:30px; line-height:30px;}
/* end */
/*yodao start*/
.ntes-yodao {position:relative; clear:both; z-index:1; height:63px; width:958px; border-style:solid; border-width:1px;}
.yodao-main {float:right; width:696px;}
.yodao-sub {float:left; _display:inline; /*width:140px;*/width:262px;}
.yodao-logo {float:left; width:114px; height:23px; overflow:hidden; margin-top:29px; text-indent:-100em;}
.wgt-yodao-gg{float:left; width:197px;}
.wgt-yodao-weather {visibility:hidden; /*float:left;*/ float:right; width:65px; margin:9px 0 0;}
.yodao-weather-info {width:70px; float:left;}
.weather-location {padding-right:10px; clear:both; cursor:pointer; height:21px; overflow:hidden; line-height:21px; background-position:right -80px;}
.weather-temperature { width:100%; text-align:right; clear:both; line-height:16px;    padding-left: 5px; _padding-left: 5px;}
.yodao-weather-icon {position:absolute;left:175px;top:10px;width:65px;}
.weather-area-ad .yodao-weather-icon{position:absolute;left:195px;top:10px;width:65px;}
.wgt-yodao-search {float:left; _display:inline; width:460px; margin:6px 0 0 4px;}
.wgt-yodao-search label {display:none;}
.wgt-yodao-search .ui-ipt-enter {float:left; padding:3px 0 0 3px; width:380px; height:21px; font-size:14px; border-left:1px solid #8c8c8c; border-top:1px solid #8c8c8c; border-bottom:1px solid #cbccce; border-right:none;}
.wgt-yodao-search .ui-btn-submit {float:left; width:68px; height:26px; text-align:center; line-height:26px; font-size:14px; font-weight:bold; background:url("http://img6.cache.netease.com/www/v2012/img/yodao-search.png") no-repeat scroll 0 0 transparent;}
.yodao-search-category {height:20px; margin-bottom:3px;}
.yodao-search-category .current,.search-category-item a:hover {font-weight:bold; color:#1e50a2; background:url("http://img6.cache.netease.com/www/v2012/img/nav_line.jpg") no-repeat scroll center bottom transparent;}
.search-category-item a:hover {text-decoration:none;}
.search-category-item a {float:left; padding:2px 0 4px; width:34px; text-align:center; margin-right:8px; cursor:pointer;}
.search-category-more {float:left; margin:2px 0 0 5px; padding-right:10px; margin-right:8px; cursor:pointer; background-position:right -78px;}
.yodao-search-category label {display:none;}
.category-more-list {width:72px; left:0; top:15px; zoom:1; z-index:2;}
.category-more-list a {clear:both; width:100%; _height:170px; float:left; height:21px; line-height:21px; text-indent:3px;}
.category-more-list a:hover {color:#fff; text-decoration:none;}
.category-more-list .interval {border-bottom:1px solid #dcdddd;}
.yodao-entry {float:right; width:232px;}
.yodao-entry-mine {display:block; width:110px; height:19px; text-align:center; line-height:19px;}
.yodao-entry-link {visibility:hidden; margin:13px 0 0; height:14px; overflow:hidden;}
.wgt-theme {position:absolute; right:10px; top:6px; height:10px; overflow:hidden;}
.theme-blue,.theme-gray,.theme-green,.theme-pink,.theme-yellow {_display:inline; float:left; width:11px; height:21px; overflow:hidden; margin-left:8px; cursor:pointer;}
.theme-blue {background-position:-26px -168px;}
.theme-gray {background-position:-15px -168px;}
.theme-green {background-position:-4px -168px;}
.theme-pink {background-position:-48px -168px;}
.theme-yellow {background-position:-37px -168px;}
.wgt-theme .current {margin-top:-11px;}
.yodao-dialog {width:135px; left:-1px; top:21px;}
.yodao-dialog .hd {height:20px; padding:0 3px; line-height:20px;}
.yodao-dialog-title {float:left;}
.yodao-dialog-close {float:right; _display:inline; width:8px; height:12px; text-indent:-100em; overflow:hidden; margin:6px 2px 0 0; cursor:pointer; background-position:-139px -17px;}
.yodao-dialog .bd {height:76px; padding:6px 12px 12px;}
.yodao-dialog-item {float:left; display:block; height:20px; margin:3px 0 0;}
.yodao-dialog select {width:64px;}
.yodao-dialog .ui-btn-submit {width:54px; height:21px; margin:9px 0 0 36px; background-position:-148px top;}
/*yodao end*/
.aboutNetease{height:25px; margin-bottom:10px;}
.aboutNetease li{padding:4px 0 0; color:#1E50A2;}
.aboutNetease li a{color:#1E50A2; padding:0 5px;}
.aboutNetease li a:visited{ color:#1E50A2;}
.footer {padding:0 0 5px; text-align:center; line-height:21px; color:#000;}
.footer a,.footer a:visited {color:#1E50A2;}
.footer img{margin:4px 0 0;}
.gg-g24 {clear:both; height:149px; overflow:hidden; margin:-1px auto 0; text-align:left; border:1px solid #dcdddd;}
.tab-hd-gg-left,.tab-hd-gg-right {_display:inline; width:22px; height:148px; overflow:hidden;}
.tab-hd-gg-left .current,.tab-hd-gg-right .current {background-image:url("http://img1.cache.netease.com/www/v2011/img/iconv0.0.9.png"); background-repeat:no-repeat;}
.tab-hd-gg-left li,.tab-hd-gg-right li {width:11px; overflow:hidden; overflow:hidden; margin-top:1px; line-height:14px; cursor:pointer;}
.tab-hd-gg-left {float:left; margin-left:1px;}
.tab-hd-gg-left li {padding:10px 4px 11px 3px; text-align:left;}
.tab-hd-gg-left .current {padding-right:8px; background-position:18px -173px;}
.tab-hd-gg-right {float:right; margin-right:1px;}
.tab-hd-gg-right li {float:right; padding:10px 3px 11px 4px; text-align:right;}
.tab-hd-gg-right .current {padding-left:8px; background-position:-126px -173px;}
.link_gg {line-height:21px;}
.tab-bd-gg,.gg-g24-main {float:left; overflow:hidden;}
.tab-bd-gg {width:137px; margin:7px 0 0 5px;}
.tab-bd-gg {line-height:23px;}
.gg-g24-main {width:600px; height:139px; margin:5px 10px;}
.g24-main-textTop{display:block; overflow:hidden; margin:2px 0 1px; height:21px;}
.g24-main-textBottom{display:block; overflow:hidden; margin:3px 0 0 0; height:21px;}
.g24-main-textTop a,.g24-main-textBottom a {float:left; overflow:hidden; width:120px; line-height:21px;}
#g5n1 .bd,#gy .bd,#g5n2 .bd,#recommend .bd {height:261px;}
#g5n3 .bd {height:261px;}
#productCont .bd {height:300px;}
#news .bd {height:662px;}
#vedio .bd {height:520px;}
#moneySub .bd {height:223px;}
#nie .bd {height:243px;}
#trends .bd {height:63px;}
#ipad-trends .bd{height:343px;}
#sportSub .bd,#gameSub .bd {height:221px;}
#ipad-sportsub .bd,#ipad-gy .bd,#ipad-gamesub .bd,#ipad-nie .bd,#ipad-moneysub .bd,#money .bd,#auto .bd,#sports .bd,#house .bd,#ent .bd,#game .bd,#tech .bd,#lady .bd,#market .bd,#book .bd {height:341px;}
#hz .bd,#t .bd,#blog .bd,#bbs .bd,#marketSub .bd,#siteRank .bd {height:261px;}
#appSub .bd {height:99px;}
/* neteasy_mall */
#neteasy_mall{height:273px;line-height:26px;padding-right:0;}
#neteasy_mall .dotline{ margin-bottom:5px;width:170px;line-height:1px;font-size:1px;height:1px;}
.neteasy_mall_title{color:#2B2B2B;font-weight:bold;line-height:18px;margin-top:-5px;}
.neteasy_mall_phone,.neteasy_mall_value{width:93px;height:19px;border:1px solid #86A2BD;color:#727171;padding-left:5px;}
.neteasy_mall_phone{*padding-top:2px;*height:17px;}
.neteasy_mall_value{width:60px;height:20px;padding-left:0}
.neteasy_mall_submit{width:35px;height:20px;background:url("http://img1.cache.netease.com/www/v2011/img/neteasy_mallv0.0.1.png") no-repeat;border:none;color:#BA2636;cursor:pointer;margin-left:5px;}
#phone_err{width:14px;height:14px;line-height:1px;font-size:1px;display:inline-block;background:url("http://img1.cache.netease.com/www/v2011/img/neteasy_mallv0.0.1.png") -39px 0 no-repeat;margin-left:3px;}
.mall_flash{margin-bottom:8px;}
.mall_price{_line-height:30px}
.mall_img{margin-top:-2px;*margin-top:7px;}
/* youdao start by jiemengen */
.remindtt75 {font-size:100%; padding:2px;}
.remindtt752 {font-size:100%; padding-left:2px; padding-right:2px;color:#9E9E9E}
.jstxhuitiaozuo {background-color:#eaf1fd; color:#8D9DBE; font-size:100%; padding-left:5px; padding-top:1px;}
.jstxhuitiaoyou {font-size:100%;padding-right:5px;}
.jstxlan {font-size:100%;cursor:pointer}
.jstxlan:hover {text-decoration:underline;}
.aa_highlight {color:#fff;}
/* 股票搜索弹窗 */
.tcbox { float:left; position: absolute; width: 270px; z-index: 99; top: 25px; left: 0; margin-left:0px; margin-top:6px; border: 1px solid #DCDDDD; background:#FFFFFF;}
.tbText { border-collapse: collapse; line-height: 20px; font-size: 12px; text-align: left; color:#2B2B2B; width: 268px; margin-top:3px;}
.tbText th,.tbText td { height: 20px; padding: 0 6px; text-align: left;}
.tbText th { background: #E2F7FD; color:#1E50A2; font-weight:normal;}
.tbText .nline {padding: 1px; color:#2B2B2B; display: block; outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; text-decoration: none; width: 100%;}
.tbText tr.alter td { background: #CCEDF7; }
.tbText tr:hover {background: #CCEDF7;}
.login-after-inner {position:relative; z-index:10; float:left; margin-right:9px;}
.login-after-select {display:none; position:absolute; width:100%; _width:170px; left:0; top:23px; overflow:hidden; background:#fff; line-height:18px; text-align:left; color:#2b2b2b;}
.login-after-select .user-entry {display:block; border:1px solid #dcdddd; padding:1px;}
.login-after-select a {display:block; clear:both; width:100%; _width:166px; height:21px; line-height:21px; text-indent:3px; font-weight:normal; color:#2b2b2b;}
.login-after-select a:hover{ background-color:#4472AE; color:#fff; text-decoration: none; }
#NTES_Login { position:relative; }
.login-tips { background:#FFFCF0; border:1px solid #dcdddd; padding:0px 2px; height:16px; line-height:16px; position:absolute; top: 22px; left: 29px; display: none; }
.login-tips a.cBlue{ color: #1E50A2; }
.login-tips a.cBlue:hover { color:#BA2636; }
.login-tips a.login-tips-close{ color: #999; }
.login-tips a.login-tips-close:hover{ color: #000; text-decoration: none; }
.login-auto-list{ border-collapse: collapse; background: #fff; _width:122px; position: absolute; left: 29px; top: 22px; border: 1px solid #E3E3E3; z-index: 10; }
.login-auto-list th,.login-auto-list td{ line-height: 22px; height: 22px; padding: 0 5px; font-family: Verdana,\5B8B\4F53,sans-serif; }
.login-auto-list td{cursor:pointer;}
.login-auto-list th{_width:120px; text-align:left; background-color:#F6F6F6;}
.login-auto-list td.hover{ background-color:#4472AE; color:#fff; }
.ui-select-list li.hover{ background-color:#4472AE; color:#fff; }
.ui-select-list, .ui-select-box{  }
.login-tips-username{ z-index: 5; font-family: Verdana,\5B8B\4F53,sans-serif; }
.login-tips-password{ z-index: 5; left: 142px; }
.login-tips-mobile{ z-index: 1; }
/* webkit */
.ui-ipt-enter,.ui-btn-submit{-webkit-appearance: none !important;}
.user-logined {float:left; height:21px; margin-top:3px; padding-left:6px; line-height:21px; font-family:Verdana,\5B8B\4F53,sans-serif; background-position:left -229px;}
.login-name {float:left; cursor:pointer; padding-right:18px; background-position:right -249px;}
.user-logined:hover {background-position:left -269px;}
.user-logined:hover .login-name {background-position:right -289px;}
/* gg style b31t9e41 */
/* 广告8.14日结束 */
.b31t9e41 {background:url('http://img1.126.net/channel5/008976/bolon_110302.png') right 50% no-repeat; padding-right:60px;}
.tg_news {display:block; text-indent:-100em; overflow:hidden; width:250px; height:25px; background:url("http://img2.cache.netease.com/www/v2011/img/tg_news_v3.png") left top no-repeat;}
/* gg 家电 */
.homeAppliances{display:inline;background: url(http://img1.126.net/channel1/55x20_lan.gif) no-repeat right center; padding:0 55px 0 3px;}
.current .homeAppliances{ background-image:url(http://img1.126.net/channel1/55x20_bai.gif);}
/* 手机微博 */
.wb_m {display:block; text-indent:-100em; overflow:hidden; width:250px; height:25px; background:url("http://img2.cache.netease.com/www/v2011/img/wb_m.png") left top no-repeat;}
/*微专栏*/
.wb_c {background: url("http://img6.cache.netease.com/www/v2012/wb_c.jpg") no-repeat scroll left top transparent;display: block;  width: 250px;   height: 25px;    overflow: hidden;    text-indent: -100em;   }
.icon-tColumn{background: url("http://img6.cache.netease.com/www/v2012/wb_col.jpg") no-repeat scroll left top #E4F5F9;    font-size:12px;    height:18px;    padding-top:3px;   padding-bottom:2px;    line-height:18px;}
.icon-tColumn a{padding-left:35px;padding-right:5px;}
/* 网易游戏 */
#nie .hd {height:25px; border-bottom:0 none; background-image:none}
.nie-title {text-indent:-100em; background:url(http://img1.cache.netease.com/www/v2011/img/nie_title.png) no-repeat 9px 6px;}
.nie-title a{display:block; width:188px; height:25px; overflow:hidden}
/* end */
/* 小游戏和微应用 */
.imgList-xyx { margin-bottom: 9px; }
.imgList-xyx li{float:left;width:84px;display:inline;overflow:hidden;padding-bottom:8px;}
.imgList-xyx a{display:block;}
.imgList-xyx img{width:64px;height:64px;margin:0 10px 5px;}
.imgList-xyx p{display:block;text-align:center;line-height:19px;height:19px;overflow:hidden;}
/*左侧加汽车模块*/
.product-mod .topborder{border-top: 1px solid #B1C8D7;}
.product-item-car{clear: both;padding: 7px 0 3px 45px;}
.product-item-car strong{float: left;height: 100%;margin-left: -45px;overflow: hidden;width: 40px;}
.product-item-car .icon, .product-item-game .icon, .product-item-serv .icon, .product-item-reco .icon {width: 30px;}
.product-item-car .icon {background: url("http://img6.cache.netease.com/www/v2012/car.jpg") no-repeat scroll 0 0 transparent;margin: 1px 0 0 9px;padding-top: 21px;}
.product-item-car a{float: left;line-height: 19px;overflow: hidden;width: 70px;}
/*头屏新闻版块汽车*/
.carbg{display:block;width:79px;height:20px;float:left;background: url(http://img6.cache.netease.com/www/v2012/cartitle.jpg) no-repeat 0 0 transparent;text-indent:-100em;overflow: hidden;}
/* 网易云阅读 */
.yuedubg {float:left;width:113px;height:24px;text-indent:-100em;background:url(http://img3.cache.netease.com/www/v2011/img/readicon.png) no-repeat;}
/* aoyun */
.aoyun .bd{height:214px;}
.aoyun .hd,.aoyun .aoyun-logo{background:url(http://img3.cache.netease.com/www/v2011/img/aoyunbgv1.0.png);}
.aoyun .hd{background-color:#E6EEF7;background-position:left top;background-repeat:repeat-x;}
.aoyun .aoyun-logo{float:left;font-weight:bold;padding-left:75px;height:24px;line-height:24px;background-position:12px -24px;background-repeat:no-repeat;}
.divide-1of2{width:49%;}
.aoyun a.aoyun-logo,.aoyun a.aoyun-logo:hover,.aoyun a.aoyun-logo:visited,.entry-aoyun a,.entry-aoyun a:hover,.entry-aoyun a:visited{color:#EE1CA1;}
.aoyun-hd-entry{padding:0 16px;}
.aoyun-hd-split{color:#bbb;}
.aoyun-medals{float: right;_display:inline;margin:0 -6px 0 9px;}
.aoyun .nation{padding-left: 23px;background-repeat:no-repeat;padding-right: 6px;}